body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 50px 0;
    margin: 0 10px; /* Added margin */
}

main {
    padding: 20px;
    width: 80%;
    margin: 0 auto; /* Center the main content horizontally */
    text-align: center; /* Center the content inside the main */
}

/* Apply text-align: center to the headings inside the centered main content */
main h2 {
    text-align: center;
}

main2 {
    padding: 20px;
    width: 80%;
    margin: 0 auto; /* Center the main content horizontally */
    text-align: center; /* Center the content inside the main */
}

/* Apply text-align: center to the headings inside the centered main content */
main2 h2 {
    text-align: center;
}


section {
    margin-bottom: 30px;
    text-align: center;
}

p {
    line-height: 1.6;
}

.profile-img {
    border: 3px solid #007BFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}






  
  
  


